In [82]:
import pandas as pd

In [83]:
df = pd.read_csv (r'./categories_version_1.csv')

df.drop(['Unnamed: 0'], axis=1, inplace=True)
         
if 'categories_version' in list(df.columns):
    df.drop(['categories_version'], axis=1, inplace=True)

    key_list = ['Art', 'Band', 'Chef', 'Mood', 'Show', 'Actor', 'Brand', 'Cause', 'Color', 'Event', 'Gamer', 'Legal', 'Music', 'Topic', 'Artist', 'Author', 'Course', 'Dancer', 'Editor', 'Sports', 'Writer', 'Athlete', 'Blogger', 'Cuisine', 'Finance', 'Profile', 'Science', 'Comedian', 'Designer', 'Diseases', 'Election', 'Fan Page', 'Language', 'Locality', 'Musician', 'Producer', 'Community', 'Education', 'Orchestra', 'Residence', 'Scientist', 'Surgeries', 'Journalist', 'Agriculture', 'Labor Union', 'Nationality', 'Real Estate', 'Social Club', 'Sports Club', 'TV & Movies', 'Visual Arts', 'Work Status', 'Armed Forces', 'Concert Tour', 'Entrepreneur', 'Just For Fun', 'Meeting Room', 'Talent Agent', 'Ticket Sales', 'Work Project', 'Fashion Model', 'Film Director', 'Fitness Model', 'Literary Arts', 'Local Service', 'Musician/Band', 'Public Toilet', 'Satire/Parody', 'Sports Season', 'Video Creator', 'Work Position', 'Not a Business', 'Campus Building', 'Digital Creator', 'Food & Beverage', 'Harmonized Page', 'Hotel & Lodging', 'Performance Art', 'Performing Arts', 'Sports Promoter', 'Theatrical Play', 'Exchange Program', 'Medical & Health', 'News Personality', 'Spiritual Leader', 'Books & Magazines', 'Community Service', 'Editorial/Opinion', 'Shopping & Retail', 'University (NCES)', 'University Status', 'Media/News Company', 'Outdoor Recreation', 'Youth Organization', 'City Infrastructure', 'Sports & Recreation', 'Arts & Entertainment', 'Charity Organization', 'Motivational Speaker', 'Private Members Club', 'Advertising/Marketing', 'Sorority & Fraternity', 'Nonprofit Organization', 'Religious Organization', 'Theatrical Productions', 'Commercial & Industrial', 'Travel & Transportation', 'Country Club / Clubhouse', 'Media Restoration Service', 'Religious Place of Worship', 'Automotive, Aircraft & Boat', 'Landmark & Historical Place', 'Public & Government Service', 'Automated Teller Machine (ATM)', 'Beauty, Cosmetic & Personal Care', 'Science, Technology & Engineering', 'Non-Governmental Organization (NGO)', 'Environmental Conservation Organization']

    count = 0
    accept_percent = 0.5
    temp = []
    for key in key_list:
        i = df[key].isin([0]).sum()
        if i >= len(df.index) * accept_percent:
            temp.append(key)
            print(f'{key} : {i}')
            df.drop(key, axis=1, inplace=True)
            count += 1
    print(count)

Band : 36
Chef : 44
Mood : 50
Show : 46
Actor : 28
Cause : 48
Color : 50
Event : 26
Gamer : 29
Legal : 40
Topic : 50
Author : 27
Course : 50
Dancer : 33
Editor : 50
Sports : 30
Athlete : 35
Cuisine : 50
Profile : 49
Science : 48
Comedian : 28
Designer : 46
Diseases : 50
Election : 50
Fan Page : 35
Language : 50
Locality : 39
Musician : 31
Producer : 35
Orchestra : 49
Residence : 36
Scientist : 41
Surgeries : 50
Journalist : 33
Agriculture : 33
Labor Union : 50
Nationality : 50
Real Estate : 35
Social Club : 49
Sports Club : 46
Visual Arts : 48
Work Status : 50
Armed Forces : 49
Concert Tour : 45
Entrepreneur : 35
Meeting Room : 50
Talent Agent : 45
Ticket Sales : 50
Work Project : 50
Fashion Model : 42
Film Director : 50
Fitness Model : 50
Literary Arts : 47
Public Toilet : 50
Satire/Parody : 50
Sports Season : 50
Work Position : 47
Not a Business : 34
Digital Creator : 39
Harmonized Page : 50
Hotel & Lodging : 29
Performance Art : 48
Performing Arts : 34
Sports Promoter : 50
Theatrical Play : 50
Exchange Program : 48
Medical & Health : 25
News Personality : 40
Spiritual Leader : 50
Community Service : 37
Editorial/Opinion : 45
University (NCES) : 50
University Status : 50
Outdoor Recreation : 42
Youth Organization : 46
City Infrastructure : 44
Charity Organization : 45
Motivational Speaker : 42
Private Members Club : 46
Advertising/Marketing : 28
Sorority & Fraternity : 49
Religious Organization : 42
Theatrical Productions : 50
Commercial & Industrial : 34
Travel & Transportation : 25
Country Club / Clubhouse : 49
Media Restoration Service : 50
Religious Place of Worship : 45
Automotive, Aircraft & Boat : 31
Landmark & Historical Place : 40
Public & Government Service : 30
Automated Teller Machine (ATM) : 50
Beauty, Cosmetic & Personal Care : 25
Non-Governmental Organization (NGO) : 43
Environmental Conservation Organization : 49
95

In [84]:
df

,gender,age,salary,other_income,parent_num,child_num,marriage,risk_type,ans_type,risk_question_4_1,...,Video Creator,Campus Building,Food & Beverage,Books & Magazines,Shopping & Retail,Media/News Company,Sports & Recreation,Arts & Entertainment,Nonprofit Organization,"Science, Technology & Engineering"
0,1,21,20000,60000,2,0,0,3,2,1,...,3,1,10,2,13,0,0,1,0,2
1,0,21,13000,6000,2,0,0,2,2,1,...,7,1,32,0,9,11,1,2,3,10
2,1,22,25000,360000,4,0,0,4,2,0,...,2,1,0,2,0,5,1,1,0,2
3,1,22,25000,0,2,0,0,3,3,1,...,2,0,1,1,3,6,1,4,2,12
4,1,21,25000,0,2,0,0,2,2,1,...,0,0,0,0,0,0,0,0,0,0
5,1,22,22000,0,1,0,0,2,2,1,...,4,1,5,5,7,4,2,4,1,0
6,1,33,10000,30000,1,2,1,2,2,1,...,1,0,1,2,1,6,2,0,1,1
7,0,45,10000,20000,0,2,1,2,3,1,...,24,0,33,5,41,14,3,2,0,0
8,1,21,10000,100000,2,0,0,2,2,1,...,11,1,13,2,21,6,9,6,4,13
9,1,22,70000,0,2,0,0,3,2,1,...,1,0,0,0,0,12,0,0,0,10
10,1,22,45000,0,2,0,0,3,2,1,...,19,2,54,15,86,27,40,8,3,11
11,1,21,15000,250000,2,0,0,3,1,1,...,21,2,20,1,43,9,13,5,1,8
12,0,23,22000,0,2,0,0,2,2,1,...,10,0,2,6,17,16,1,3,3,3
13,0,25,80000,0,2,0,0,2,2,0,...,4,0,53,3,20,13,1,9,5,1
14,0,22,22000,0,1,0,0,2,3,1,...,8,3,8,4,7,22,4,2,0,4
15,1,24,40000,350000,0,0,0,2,2,1,...,1,0,1,0,1,0,0,1,1,2
16,1,23,25000,5000,0,0,0,2,2,1,...,17,0,17,4,5,4,4,4,7,2
17,1,22,20000,0,2,0,0,2,1,1,...,12,2,5,4,17,2,0,3,3,4
18,1,22,0,0,2,0,0,1,1,1,...,26,2,37,14,16,22,63,8,4,7
19,0,52,67000,0,0,1,1,3,1,1,...,0,0,9,0,5,3,1,0,0,0
20,0,24,50000,0,1,0,0,3,2,0,...,0,0,0,0,1,0,0,0,0,0
21,0,44,40000,50000,0,3,1,1,1,1,...,0,0,2,0,1,1,0,0,0,0
22,0,47,40000,20000,1,1,1,2,3,1,...,0,0,0,0,0,0,0,0,0,0
23,0,49,30000,0,0,1,1,1,3,1,...,0,0,10,0,1,1,0,0,0,0
24,1,60,120000,0,0,2,1,2,3,1,...,0,0,3,0,2,1,1,1,1,0
25,0,46,30000,360000,1,0,0,1,1,1,...,1,0,15,0,3,3,1,0,2,0
26,0,54,30000,0,2,2,1,3,2,1,...,1,0,0,0,0,3,0,0,0,0
27,0,53,50000,0,0,2,1,1,3,0,...,0,0,1,0,1,1,0,0,0,0
28,0,47,20000,0,2,2,1,1,1,1,...,1,0,2,1,3,5,0,1,0,0
29,1,29,11500,0,0,0,0,1,1,0,...,10,0,4,4,7,16,2,2,4,5
30,0,36,12000,0,0,2,1,2,3,1,...,19,0,104,7,85,42,6,17,9,3
31,0,47,80000,0,2,2,1,2,2,1,...,2,3,18,5,13,15,0,3,5,9
32,1,24,80000,2500000,0,2,1,2,2,1,...,10,1,32,4,33,12,12,1,4,14
33,0,26,0,0,2,0,0,3,2,1,...,4,0,20,4,14,0,0,2,0,0
34,0,23,47000,544000,2,1,0,2,1,1,...,18,2,42,8,101,14,1,2,1,3
35,1,21,10000,10000,1,0,0,3,2,1,...,24,3,30,7,38,22,3,12,18,38
36,0,22,10000,0,2,0,0,2,2,1,...,20,2,13,7,8,11,2,8,1,4
37,0,53,35000,10000,0,2,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
38,1,33,25000,5000,2,0,0,2,3,1,...,13,1,3,0,1,4,0,0,2,1
39,1,22,25000,0,2,0,0,2,2,1,...,37,2,10,15,31,36,54,9,14,16
40,1,22,25000,30000,2,0,0,1,1,1,...,1,1,0,0,1,0,0,0,2,1
41,0,21,5000,60000,2,0,0,2,2,1,...,8,1,10,7,3,6,19,1,1,5
42,1,22,60000,0,2,0,0,3,3,1,...,11,2,3,11,4,16,0,8,5,5
43,0,21,29000,3000,2,0,0,2,2,1,...,11,4,3,30,8,7,3,6,2,11
44,1,21,30000,0,2,1,0,2,2,0,...,13,2,21,6,15,6,6,2,3,17
45,1,22,0,0,2,0,0,2,2,1,...,1,1,2,0,0,4,1,0,3,14
46,0,22,7000,0,2,0,0,2,2,1,...,3,0,3,3,0,2,0,3,0,1
47,0,23,4000,40000,2,0,0,2,1,1,...,2,1,5,0,6,0,0,0,0,0
48,0,22,10000,30000,2,0,0,2,2,1,...,54,7,35,34,135,66,16,19,14,36
49,0,44,45000,0,2,2,1,2,3,1,...,7,1,17,7,21,16,4,4,7,9

In [85]:
df.corr()

,gender,age,salary,other_income,parent_num,child_num,marriage,risk_type,ans_type,risk_question_4_1,...,Video Creator,Campus Building,Food & Beverage,Books & Magazines,Shopping & Retail,Media/News Company,Sports & Recreation,Arts & Entertainment,Nonprofit Organization,"Science, Technology & Engineering"
gender,1.000000,-0.429727,0.009431,0.152166,0.127269,-0.331203,-0.366900,0.237335,-0.030706,-0.014783,...,0.099847,0.029838,-0.143002,-0.066511,-0.088847,-0.052615,0.254348,0.012037,0.183638,0.241162
age,-0.429727,1.000000,0.411071,-0.101884,-0.510588,0.768074,0.858617,-0.325523,0.145269,0.034448,...,-0.352311,-0.382423,-0.111059,-0.316729,-0.195271,-0.217458,-0.248306,-0.310973,-0.236459,-0.380361
salary,0.009431,0.411071,1.000000,0.277415,-0.257056,0.366472,0.375429,0.092843,0.186414,-0.158840,...,-0.299407,-0.137621,-0.028164,-0.141960,-0.074128,-0.114351,-0.160020,-0.169839,-0.095191,-0.139317
other_income,0.152166,-0.101884,0.277415,1.000000,-0.166161,0.180958,0.141980,0.016269,-0.093122,0.037618,...,0.015034,0.006509,0.144692,-0.039117,0.150783,-0.005000,0.045020,-0.114744,-0.001287,0.108704
parent_num,0.127269,-0.510588,-0.257056,-0.166161,1.000000,-0.477170,-0.536946,0.421464,-0.114989,-0.032164,...,0.124302,0.357066,-0.090832,0.226590,0.055183,0.085646,0.158189,0.118264,0.027509,0.198655
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Media/News Company,-0.052615,-0.217458,-0.114351,-0.005000,0.085646,-0.069472,-0.097969,0.046422,0.138781,0.090302,...,0.828336,0.641372,0.610019,0.718505,0.788875,1.000000,0.497918,0.844563,0.731346,0.637603
Sports & Recreation,0.254348,-0.248306,-0.160020,0.045020,0.158189,-0.179167,-0.185114,-0.064162,-0.130588,0.112139,...,0.590166,0.321402,0.322625,0.478485,0.335670,0.497918,1.000000,0.412339,0.380172,0.315060
Arts & Entertainment,0.012037,-0.310973,-0.169839,-0.114744,0.118264,-0.191200,-0.207097,0.122066,0.140543,0.082120,...,0.779764,0.595312,0.665339,0.704988,0.701291,0.844563,0.412339,1.000000,0.772224,0.615412
Nonprofit Organization,0.183638,-0.236459,-0.095191,-0.001287,0.027509,-0.136612,-0.155916,0.046043,0.089508,0.068829,...,0.703969,0.524838,0.437612,0.530016,0.513324,0.731346,0.380172,0.772224,1.000000,0.784584
"Science, Technology & Engineering",0.241162,-0.380361,-0.139317,0.108704,0.198655,-0.216946,-0.265728,0.195216,0.042642,0.069157,...,0.648341,0.712086,0.255827,0.571948,0.510294,0.637603,0.315060,0.615412,0.784584,1.000000

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(50, 50))
heatmap = sns.heatmap(df.corr(), vmin=0, vmax=1, annot=True, xticklabels=True, yticklabels=True)
heatmap.set_title('Correlation Heatmap', fontdict={'fontsize':18}, pad=25);

In [ ]:
import numpy as np
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn import tree
from sklearn.datasets import load_wine
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn import metrics
from IPython.display import SVG
from graphviz import Source
from IPython.display import display
from sklearn.model_selection import cross_val_score, KFold
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [ ]:
# feature matrix
X = df.drop(['ans_type'], axis=1, inplace=False)

# target vector
y = df['ans_type']

# class labels
labels = []
for i in df.drop(['ans_type'], axis=1, inplace=False).columns:
    labels.append(i)

#brute force
list_pass = []
for random_state in range(1,101):
    # Split dataset into training set and test set
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=random_state, stratify=y) # 70% training and 30% test

    # Create Decision Tree classifer object
    clf = DecisionTreeClassifier(criterion="entropy", max_depth=len(X.columns), max_features=len(X.columns), class_weight="balanced", max_leaf_nodes=100, random_state=random_state)
    #DecisionTreeClassifier(criterion='entropy', max_depth=2, max_features=68,max_leaf_nodes=10, random_state=28)
    # Train Decision Tree Classifer
    clf = clf.fit(X_train,y_train)

    #Predict the response for test dataset
    y_pred = clf.predict(X_test)
    y_score = clf.score(X,y)

    classification_report(y_test,y_pred)
    classification_report(y_test,y_pred).find('accuracy                           ')
    start_in = 222+35
    accu = float(classification_report(y_test,y_pred)[start_in:start_in+4])
    if accu >= 0.7 :
        list_pass.append((random_state, accu))
        
for i in list_pass:
    print(i)

In [ ]:
# feature matrix
X = df.drop(['ans_type'], axis=1, inplace=False)

# target vector
y = df['ans_type']

# class labels
labels = []
for i in df.drop(['ans_type'], axis=1, inplace=False).columns:
    labels.append(i)

#    
random_state = max(list_pass, key=lambda item:item[1])[0]

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=random_state, stratify=y) # 70% training and 30% test

In [ ]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier(criterion="entropy", max_depth=len(X.columns), max_features=len(X.columns), class_weight="balanced", max_leaf_nodes=100, random_state=random_state)
#DecisionTreeClassifier(criterion='entropy', max_depth=2, max_features=68,max_leaf_nodes=10, random_state=28)
# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)
y_score = clf.score(X,y)
print(classification_report(y_test,y_pred))

In [ ]:
graph = Source(export_graphviz(clf, out_file=None,  
                filled=True, rounded=True,
                special_characters=False,feature_names = labels,class_names=['à¹€à¸™à¹‰à¸™à¸›à¹‰à¸­à¸‡à¸à¸±à¸™à¸„à¸§à¸²à¸¡à¹€à¸ªà¸µà¹ˆà¸¢à¸‡','à¹€à¸™à¹‰à¸™à¸¥à¸‡à¸—à¸¸à¸™','à¹€à¸™à¹‰à¸™à¹€à¸à¸©à¸µà¸¢à¸“']))

display(SVG(graph.pipe(format='svg')))

In [ ]:
png = Source(graph, format="png") 
png
png.render("decision_tree_graphivz")

In [ ]:
import joblib

filename = 'sklearn_model.sav'
joblib.dump(clf, filename)